<section class="cd-section">
    <div id="a_a_a" class="cd-block banner" layout="column center-center">
        <canvas id="gran" class="gran"></canvas>
        <div class="logo-box"><img id="logo" class="logo" src="/imgs/pusher_logo_wt.png" alt="logo"></div>
    </div>
</section> <!-- .cd-section -->

<section class="cd-section">
    <div class="cd-block">
        <div class="cd-half-block">

        </div>

        <div class="cd-half-block" layout="column top-center">
            <div class="service-title" layout="column top-right">
                <h2>服务内容</h2>
                <small>Service Content</small>
            </div>

            <div class="services" layout="rows stretch-spread">
                <div class="service-box" self="size-1of3">
                    <i class="iconfont flag">&#xe600;</i>
                    <h5>互联网视觉设计</h5>
                    <div class="content">
                        专题设计
                    </div>
                    <div class="content">
                        大促视觉设计
                    </div>
                    <div class="content">
                        营销方案设计
                    </div>
                    <div class="content">
                        品牌官网设计
                    </div>
                    <div class="content">
                        ...
                    </div>
                </div>
                <div class="service-box" self="size-1of3"><i class="iconfont">&#xe608;</i>
                    <h5>信息可视化设计</h5>
                    <div class="content">
                        商业插画设计
                    </div>
                    <div class="content">
                        动态图形设计
                    </div>
                    <div class="content">
                        数据可视化设计
                    </div>
                </div>
                <div class="service-box" self="size-1of3">
                    <i class="iconfont">&#xe604;</i>
                    <h5>移动智能设计</h5>
                    <div class="content">
                        APP界面设计
                    </div>
                    <div class="content">
                        HTML5页面设计
                    </div>
                    <div class="content">
                        移动端交互设计
                    </div>
                    <div class="content">
                        微专题设计
                    </div>
                    <div class="content">
                        ...
                    </div>
                </div>
                <div class="service-box" self="size-1of3">
                    <i class="iconfont">&#xe607;</i>
                    <h5>技术服务</h5>
                    <div class="content">
                        前端开发
                    </div>
                    <div class="content">
                        HTML5小游戏开发
                    </div>
                    <div class="content">
                        FLASH开发
                    </div>
                    <div class="content">
                        插件定制开发
                    </div>
                    <div class="content">
                        ...
                    </div>
                </div>
                <div class="service-box" self="size-1of3">
                    <i class="iconfont">&#xe603;</i>
                    <h5>新媒体营销</h5>
                    <div class="content">
                        品牌战略规划
                    </div>
                    <div class="content">
                        官微账号运营
                    </div>
                    <div class="content">
                        视频制作
                    </div>
                    <div class="content">
                        事件营销
                    </div>
                </div>
                <div class="service-box" self="size-1of3">
                    <i class="iconfont">&#xe605;</i>
                    <h5>媒介服务</h5>
                    <div class="content">
                        传播策划
                    </div>
                    <div class="content">
                        媒介策划
                    </div>
                    <div class="content">
                        媒介购买
                    </div>
                    <div class="content">
                        售后服务
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .cd-section -->

<section class="cd-section">
    <div class="cd-block">
        <div class="cd-half-block"></div>

        <div class="cd-half-block pr" layout="column top-center">
            <div class="service-title" layout="column top-left">
                <h2>案例展示</h2>
                <small>Case</small>
            </div>
            <div class="cases" layout="rows center-spread">
                <div class="case-box">
                    <span class="title">First</span>
                </div>
                <div class="case-box">
                    <span class="title">Second</span>
                </div>
            </div>
            <ul class="case-nav cf">
                <li class="nav-unit active"></li>
                <li class="nav-unit"></li>
                <li class="nav-arr">
                    <i class="iconfont">&#xe60b;</i>
                </li>
            </ul>
        </div>

    </div>
</section> <!-- .cd-section -->

<section class="cd-section">
    <div class="cd-block">
        <div class="cd-half-block"></div>

        <div class="cd-half-block" layout="column top-left">
            <div class="service-title" layout="column top-center">
                <h2>关于我们</h2>
                <small>About</small>
            </div>

            <div class="about">
                <div class="content-head cn">
                    你好！我是捕舌熊。可以这么说，我是一支：
                </div>
                <div class="content-head">
                    Hello！I am the PusherBear
                </div>
                <div class="content">
                    <h3>商务拓展团队</h3>
                    <span>负责对外拓展渠道、商务谈判。商务团队自成立以来，谈判并取得合作的企业有：苏泊尔、网易、天猫、新浪、挖财、阿里云、阿里巴巴等。整个团队实力强劲兼具年轻活力，这是一只不容小觑的商务拓展团队。</span>
                </div>
                <div class="content">
                    <h3>策划运营团队</h3>
                    <span>策划运营团队90后居多，拥有90后独特的视角解读策划方案。主要业务内容有：提案、活动策划、软文广告撰写、数字营销等，与各团队间的协作最为紧密，沟通及应变能力、创意创新能力都是小仙公司策划运营团队的必备基础。</span>
                </div>
                <div class="content">
                    <h3>视觉及开发团队</h3>
                    <span>开发团队业务包含：网站技术开发、HTML5小游戏开发、flash开发、插件及app定制等。对于客户要求的内容，开发团队在工作经验丰厚，精湛、全面的技术能力上的优势，都是客户满意的基础保障。对细节的把控，认真负责的态度是赢得客户的重要守则。</span>
                </div>

            </div>

        </div>
    </div>
</section> <!-- .cd-section -->


<section class="xh-footer">
    @xionghui
</section>

<nav>
    <ul class="cd-vertical-nav">
        <li><a href="#0" class="cd-prev inactive">Next</a></li>
        <li><a href="#0" class="cd-next">Prev</a></li>
    </ul>
</nav> <!-- .cd-vertical-nav -->